body{
    background-color: black;
}

h1{
    color: orange;
    text-align: center;
}

h3,p{
    color: white;
    text-align: center;
}




.messageBox {
    /* display: flex; */
    /* flex-direction: row; */
    /* padding-left: 400px; */
    margin: 30px;
    padding: 20px;
    border: 2px solid white;
    color: white;
    font-size: 25px;
}






.button{
    display: block;
    width: 80px;
    text-align: center;
    font-size: 20px;
    padding: 12px 30px;
    text-decoration: none;
    background-color: #eee;
    color: black;
    border-radius: 10px;
    margin:0 auto;
    user-select: none; /* Standard syntax */
}

.button:hover{
    background-color: #aaa;

}

#image1, #image2, #image3{
    width: 300px;
    height: 300px;
}
#image1{
    margin-left: calc(100% - 60%);
}
#image2{
    margin-left: calc(100% - 80%);
    display: inline-block;
}
#image3{
    margin-left: calc(100% - 40%);
    display: inline-block;

}
#image4, #image5{
    display: none;
    width: 300px;
    height: 300px;
}

#comicBox {
    /* display: none; */
    border: 2px solid #333;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
  }